* {margin: 0; padding: 0; border: 0;}
body {
    background-color: transparent;
}
.preload-class {
    margin: 0 auto;
    margin-top: 40vh;
    width: 100%;
    height: 100%;
}
    .preload-subclass {
        margin: 0 auto;
        width: 100px;
        height: 100px;
        border: 2px solid transparent;
        border-top-color: orange;
        /*border-bottom-color: orange;*/
        /*border-left-color: orange;*/
        border-right-color: orange;
        border-radius: 50%;
        position: relative;
        animation: spin 3s linear infinite;
        -webkit-animation: spin 3s linear infinite;
    }
    .preload-subclass:before {
        content: "";
        border: 2px solid transparent;
        /*border-top-color: blue;*/
        border-bottom-color: blue;
        /*border-left-color: blue;*/
        border-right-color: blue;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        animation: spin 2.5s linear infinite;
        -webkit-animation: spin 2.5s linear infinite;
    }
    .preload-subclass:after {
        content: "";
        border: 2px solid transparent;
        /*border-top-color: green;*/
        border-bottom-color: green;
        border-left-color: green;
        /*border-right-color: green;*/
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        animation: spin 2s linear infinite;
        -webkit-animation: spin 2s linear infinite;
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
        }
        /*20% {
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
        }
        50% {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
        }
        90% {
            transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
        }*/
        100% {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
        }
    }
    @-webkit-keyframes spin {
        0% {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
        }
        /*20% {
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
        }
        50% {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
        }
        90% {
            transform: rotate(270deg);
            -webkit-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
        }*/
        100% {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
        }
    }