* {margin: 0; padding: 0; border: 0;}

body {
	background-color: #eee;
	font-size: 30px;
	font-family: monospace;
}

.container {
	height: 150vh;
	width: 100vw;
	background-position: center;
	background-size: cover;
	text-align: center;
	display: table;
	background-attachment: fixed;
}
	.container h1 {
		color: #eee;
		text-shadow: 0 2px 5px #000;
		display: table-cell;
		vertical-align: middle;
	}

#box-1 {
	background-image: url('https://images.unsplash.com/photo-1476455493505-114dd6921b54?dpr=1&auto=format&fit=crop&w=1500&h=1125&q=80&cs=tinysrgb&crop='); 
}
#box-2 {
	background-image: url('https://images.unsplash.com/photo-1435820876491-c2cb37e8e7ff?dpr=1&auto=format&fit=crop&w=1500&h=1007&q=80&cs=tinysrgb&crop=');
}
#box-3 {
	background-image: url('https://images.unsplash.com/photo-1496024840928-4c417adf211d?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
}
#box-4 {
	background-image: url('https://images.unsplash.com/photo-1429552054921-018e433d7d34?dpr=1&auto=format&fit=crop&w=1500&h=993&q=80&cs=tinysrgb&crop=');
}